.mediaViewInfo {
	--web-view-name: 31-Front page-Project展开-Introduction;
	--web-view-id: ID31-Front_page-Project-Introduction;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: ID31-Front_page-Project-Introduction;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#ID31-Front_page-Project-Introduction {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: 31-Front page-Project展开-Introduction;
	--web-view-id: ID31-Front_page-Project-Introduction;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#ID21 {
	position: absolute;
	width: 1920px;
	height: 1267.556px;
	left: 0px;
	top: -113.935px;
	overflow: visible;
}
#_12_bj {
	fill: url(#_12_bj);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._12_bj {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 113.935px;
}
#_1 {
	fill: transparent;
	stroke: rgba(8,54,67,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._1 {
	width: 1246px;
	height: 1246px;
	position: absolute;
	overflow: visible;
	transform: translate(0px, 113.935px) matrix(1,0,0,1,92.1193,-103.1566) rotate(-1deg);
	transform-origin: center;
}
#_2 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._2 {
	width: 1205px;
	height: 1206px;
	position: absolute;
	overflow: visible;
	transform: translate(0px, 113.935px) matrix(1,0,0,1,113.1224,-82.7988) rotate(-1deg);
	transform-origin: center;
}
#_13 {
	fill: rgba(184,236,215,1);
}
._13 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 195px;
	height: 50px;
	left: 1519px;
	top: 511.935px;
}
#_3 {
	fill: rgba(255,255,255,1);
}
._3 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 46px;
	height: 46px;
	left: 1283px;
	top: 467.935px;
}
#DOCUMENTATION {
	left: 1239px;
	top: 1050.935px;
	position: absolute;
	overflow: visible;
	width: 207px;
	white-space: nowrap;
	transition: all 0.3s ease-in-out;
	--web-animation: fadein 0.3s ease-in-out;
	--web-action-type: page;
	--web-action-target: 80_Front_page_Documentation.html;
	cursor: pointer;
	text-align: left;
	font-family: Bronova;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(184,236,215,1);
}
#PROJECT {
	left: 1394px;
	top: 472.935px;
	position: absolute;
	overflow: visible;
	width: 105px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: 20_Front_page_Project.html;
	cursor: pointer;
	text-align: left;
	font-family: Bronova;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(8,54,67,1);
}
#TEAM {
	left: 1384px;
	top: 813.935px;
	position: absolute;
	overflow: visible;
	width: 65px;
	white-space: nowrap;
	transition: all 0.3s ease-in-out;
	--web-animation: fadein 0.3s ease-in-out;
	--web-action-type: page;
	--web-action-target: 50_Front_page_Team.html;
	cursor: pointer;
	text-align: left;
	font-family: Bronova;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(184,236,215,1);
}
#HOME {
	left: 1275px;
	top: 235.935px;
	position: absolute;
	overflow: visible;
	width: 70px;
	white-space: nowrap;
	transition: all 0.3s ease-in-out;
	--web-animation: fadein 0.3s ease-in-out;
	--web-action-type: page;
	--web-action-target: 11_Front_page.html;
	cursor: pointer;
	text-align: left;
	font-family: Bronova;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(184,236,215,1);
}
#_1_bs {
	fill: transparent;
	stroke: rgba(8,54,67,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._1_bs {
	overflow: visible;
	position: absolute;
	width: 54px;
	height: 2px;
	left: 1200.5px;
	top: 247.435px;
	transform: matrix(1,0,0,1,0,0);
}
#_3_bt {
	fill: transparent;
	stroke: rgba(8,54,67,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._3_bt {
	overflow: visible;
	position: absolute;
	width: 57px;
	height: 2px;
	left: 1306.5px;
	top: 825.435px;
	transform: matrix(1,0,0,1,0,0);
}
#_5 {
	fill: transparent;
	stroke: rgba(8,54,67,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._5 {
	overflow: visible;
	position: absolute;
	width: 57px;
	height: 4px;
	left: 1316.5px;
	top: 484.435px;
	transform: matrix(1,0,0,1,0,0);
}
#_6 {
	fill: transparent;
	stroke: rgba(8,54,67,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._6 {
	overflow: visible;
	position: absolute;
	width: 54px;
	height: 2px;
	left: 1164.5px;
	top: 1062.435px;
	transform: matrix(1,0,0,1,0,0);
}
#Project {
	position: absolute;
	width: 125px;
	height: 110px;
	left: 1545px;
	top: 472.935px;
	overflow: visible;
}
#Background {
	filter: drop-shadow(0px 3px 12px rgba(0, 0, 0, 0.161));
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 126px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: 21_Front_page_Project___Background.html;
	cursor: pointer;
	text-align: left;
	font-family: Bronova;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(8,54,67,1);
}
#Introduction {
	filter: drop-shadow(0px 3px 12px rgba(0, 0, 0, 0.161));
	left: 1px;
	top: 45px;
	position: absolute;
	overflow: visible;
	width: 125px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: 32_PROJECT_Introduction.html;
	cursor: pointer;
	text-align: left;
	font-family: Bronova;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(8,54,67,1);
}
#Results {
	filter: drop-shadow(0px 3px 12px rgba(0, 0, 0, 0.161));
	left: 26px;
	top: 90px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: 41_Front_page_Project___Results.html;
	cursor: pointer;
	text-align: left;
	font-family: Bronova;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(8,54,67,1);
}
#_10_b {
	fill: url(#_10_b);
}
._10_b {
	position: absolute;
	overflow: visible;
	width: 603px;
	height: 531px;
	left: 534px;
	top: 284.935px;
}
#_11 {
	fill: rgba(8,54,67,1);
}
._11 {
	position: absolute;
	overflow: visible;
	width: 642px;
	height: 566px;
	left: 295px;
	top: 456.935px;
}
#Computational_Insight_of__Norc {
	left: 295px;
	top: 495.935px;
	position: absolute;
	overflow: visible;
	width: 643px;
	white-space: nowrap;
	text-align: left;
	font-family: SuperFrench;
	font-style: normal;
	font-weight: normal;
	font-size: 65px;
	color: rgba(255,222,167,1);
}
#CPU_CHINA {
	left: 295px;
	top: 815.935px;
	position: absolute;
	overflow: visible;
	width: 187px;
	white-space: nowrap;
	text-align: left;
	font-family: Corbel;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(184,236,215,1);
}
#iDEC_2023 {
	left: 295px;
	top: 864.935px;
	position: absolute;
	overflow: visible;
	width: 147px;
	white-space: nowrap;
	text-align: left;
	font-family: Corbel;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(184,236,215,1);
}