.mediaViewInfo {
	--web-view-name: 52-TEAM-Members-0;
	--web-view-id: ID52-TEAM-Members-0;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: ID52-TEAM-Members-0;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#ID52-TEAM-Members-0 {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-animation: fadein 0.3s linear;
	--web-action-type: page;
	--web-action-target: 53_TEAM_Members_1.html;
	cursor: pointer;
	--web-view-name: 52-TEAM-Members-0;
	--web-view-id: ID52-TEAM-Members-0;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#_1-_bi {
	fill: url(#_1-_bi);
}
._1-_bi {
	width: 1920px;
	height: 525px;
	position: absolute;
	overflow: visible;
	transform: matrix(1,0,0,1,0,0) rotate(180deg);
	transform-origin: center;
}
# {
	fill: rgba(255,255,255,0.541);
}
. {
	position: absolute;
	overflow: visible;
	width: 1444px;
	height: 369px;
	left: 238px;
	top: 156px;
}
#_bk {
	position: absolute;
	width: 1345px;
	height: 391px;
	left: 278px;
	top: 653px;
	overflow: visible;
}
#_2 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._2 {
	position: absolute;
	overflow: visible;
	width: 310px;
	height: 391px;
	left: 0px;
	top: 0px;
}
#_16 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._16 {
	position: absolute;
	overflow: visible;
	width: 310px;
	height: 391px;
	left: 345px;
	top: 0px;
}
#_18 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._18 {
	position: absolute;
	overflow: visible;
	width: 310px;
	height: 391px;
	left: 690px;
	top: 0px;
}
#_19 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._19 {
	position: absolute;
	overflow: visible;
	width: 310px;
	height: 391px;
	left: 1035px;
	top: 0px;
}
#Mentor {
	filter: drop-shadow(0px 3px 6px rgba(8, 54, 67, 0.122));
	left: 629px;
	top: 610px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: 53_TEAM_Members_1.html;
	cursor: pointer;
	text-align: left;
	font-family: Bronova;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(8,54,67,1);
}
#Supervisor {
	filter: drop-shadow(0px 3px 6px rgba(8, 54, 67, 0.122));
	left: 293px;
	top: 610px;
	position: absolute;
	overflow: visible;
	width: 124px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: 53_TEAM_Members_1.html;
	cursor: pointer;
	text-align: left;
	font-family: Bronova;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(8,54,67,1);
}
#Members {
	left: 799px;
	top: 428px;
	position: absolute;
	overflow: visible;
	width: 324px;
	white-space: nowrap;
	text-align: left;
	font-family: Corbel;
	font-style: normal;
	font-weight: bold;
	font-size: 80px;
	color: rgba(184,236,215,1);
}
#_bs {
	left: 924px;
	top: 325px;
	position: absolute;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -3px;
	text-align: left;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(112,112,112,1);
}
#_bt {
	position: absolute;
	width: 1640px;
	height: 42px;
	left: 140px;
	top: 49px;
	overflow: visible;
}
#CPU_CHINA {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 187px;
	white-space: nowrap;
	--web-animation: fadein 0.3s linear;
	--web-action-type: page;
	--web-action-target: 11_Front_page.html;
	cursor: pointer;
	text-align: left;
	font-family: Corbel;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(184,236,215,1);
}
#DOCUMENTATION {
	left: 1434px;
	top: 9px;
	position: absolute;
	overflow: visible;
	width: 207px;
	white-space: nowrap;
	cursor: pointer;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: _31_DOCUMENTATION.html;
	text-align: left;
	font-family: Bronova;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(184,236,215,1);
}
#PROJECT {
	left: 938px;
	top: 9px;
	position: absolute;
	overflow: visible;
	width: 105px;
	white-space: nowrap;
	cursor: pointer;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: _11_PROJECT.html;
	text-align: left;
	font-family: Bronova;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(184,236,215,1);
}
#TEAM {
	left: 1206px;
	top: 9px;
	position: absolute;
	overflow: visible;
	width: 65px;
	white-space: nowrap;
	cursor: pointer;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: _21_TEAM.html;
	text-align: left;
	font-family: Bronova;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(184,236,215,1);
}
#HOME {
	left: 705px;
	top: 9px;
	position: absolute;
	overflow: visible;
	width: 70px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: 12_HOME_1.html;
	cursor: pointer;
	text-align: left;
	font-family: Bronova;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(184,236,215,1);
}
#TOP {
	position: absolute;
	width: 80px;
	height: 80px;
	left: 1740px;
	top: 849px;
	overflow: visible;
}
#_4 {
	fill: rgba(184,236,215,1);
	transition: all 0.3s linear;
	--web-animation: fadein 0.3s linear;
	--web-action-type: page;
	--web-action-target: 51_Front_page_Team___Members.html;
	cursor: pointer;
}
._4 {
	filter: drop-shadow(2px 3px 6px rgba(8, 54, 67, 0.502));
	position: absolute;
	overflow: visible;
	width: 98px;
	height: 98px;
	left: 0px;
	top: 0px;
}
#_2_b {
	fill: rgba(8,54,67,1);
}
._2_b {
	overflow: visible;
	position: absolute;
	width: 44px;
	height: 38px;
	left: 18px;
	top: 15px;
	transform: matrix(1,0,0,1,0,0);
	transition: all 0.3s linear;
	--web-animation: fadein 0.3s linear;
	--web-action-type: page;
	--web-action-target: 51_Front_page_Team___Members.html;
	cursor: pointer;
}