.mediaViewInfo {
	--web-view-name: 80-Front page-Documentation;
	--web-view-id: ID80-Front_page-Documentation;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: ID80-Front_page-Documentation;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#ID80-Front_page-Documentation {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: 80-Front page-Documentation;
	--web-view-id: ID80-Front_page-Documentation;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#_3-_fa {
	fill: url(#_3-_fa);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._3-_fa {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 0px;
}
#Documentation_fb {
	position: absolute;
	width: 115px;
	height: 110px;
	left: 1497px;
	top: 937px;
	overflow: visible;
}
#Protocols_fc {
	left: 9px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: 81_Front_page_Documentation___Protocols.html;
	cursor: pointer;
	text-align: left;
	font-family: Bronova;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(8,54,67,1);
}
#Notebook_fd {
	left: 7px;
	top: 45px;
	position: absolute;
	overflow: visible;
	width: 101px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: 91_Front_page_Documentation___Notebook.html;
	cursor: pointer;
	text-align: left;
	font-family: Bronova;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(8,54,67,1);
}
#References_fe {
	left: 0px;
	top: 90px;
	position: absolute;
	overflow: visible;
	width: 116px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: 101_Front_page_Documentation___References.html;
	cursor: pointer;
	text-align: left;
	font-family: Bronova;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(8,54,67,1);
}
#DOCUMENTATION_ff {
	left: 1239px;
	top: 937px;
	position: absolute;
	overflow: visible;
	width: 207px;
	white-space: nowrap;
	text-align: left;
	font-family: Bronova;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(8,54,67,1);
}
#TEAM_fg {
	left: 1384px;
	top: 700px;
	position: absolute;
	overflow: visible;
	width: 65px;
	white-space: nowrap;
	transition: all 0.3s ease-in-out;
	--web-animation: fadein 0.3s ease-in-out;
	--web-action-type: page;
	--web-action-target: 50_Front_page_Team.html;
	cursor: pointer;
	text-align: left;
	font-family: Bronova;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(184,236,215,1);
}
#PROJECT_fh {
	left: 1394px;
	top: 359px;
	position: absolute;
	overflow: visible;
	width: 105px;
	white-space: nowrap;
	transition: all 0.3s ease-in-out;
	--web-animation: fadein 0.3s ease-in-out;
	--web-action-type: page;
	--web-action-target: 20_Front_page_Project.html;
	cursor: pointer;
	text-align: left;
	font-family: Bronova;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(184,236,215,1);
}
#HOME_fi {
	left: 1275px;
	top: 122px;
	position: absolute;
	overflow: visible;
	width: 70px;
	white-space: nowrap;
	transition: all 0.3s ease-in-out;
	--web-animation: fadein 0.3s ease-in-out;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
	text-align: left;
	font-family: Bronova;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(184,236,215,1);
}
#_4_fj {
	fill: transparent;
	stroke: rgba(8,54,67,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._4_fj {
	overflow: visible;
	position: absolute;
	width: 54px;
	height: 4px;
	left: 1164.5px;
	top: 948.5px;
	transform: matrix(1,0,0,1,0,0);
}
#_3_fk {
	fill: transparent;
	stroke: rgba(8,54,67,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._3_fk {
	overflow: visible;
	position: absolute;
	width: 57px;
	height: 2px;
	left: 1306.5px;
	top: 711.5px;
	transform: matrix(1,0,0,1,0,0);
}
#_2_fl {
	fill: transparent;
	stroke: rgba(8,54,67,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._2_fl {
	overflow: visible;
	position: absolute;
	width: 57px;
	height: 2px;
	left: 1316.5px;
	top: 370.5px;
	transform: matrix(1,0,0,1,0,0);
}
#_1_fm {
	fill: transparent;
	stroke: rgba(8,54,67,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._1_fm {
	overflow: visible;
	position: absolute;
	width: 54px;
	height: 2px;
	left: 1200.5px;
	top: 133.5px;
	transform: matrix(1,0,0,1,0,0);
}
#_fn {
	position: absolute;
	width: 1267.556px;
	height: 1267.556px;
	left: 81.342px;
	top: -113.934px;
	overflow: visible;
}
#_1_fo {
	fill: transparent;
	stroke: rgba(8,54,67,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._1_fo {
	width: 1246px;
	height: 1246px;
	position: absolute;
	overflow: visible;
	transform: translate(-81.342px, 113.934px) matrix(1,0,0,1,92.1198,-103.1565) rotate(-1deg);
	transform-origin: center;
}
#_2_fp {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._2_fp {
	width: 1205px;
	height: 1206px;
	position: absolute;
	overflow: visible;
	transform: translate(-81.342px, 113.934px) matrix(1,0,0,1,113.1225,-82.7988) rotate(-1deg);
	transform-origin: center;
}
#_3_fq {
	fill: rgba(255,255,255,1);
}
._3_fq {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 46px;
	height: 46px;
	left: 1039.658px;
	top: 1045.934px;
}
#_10_fs {
	fill: url(#_10_fs);
}
._10_fs {
	position: absolute;
	overflow: visible;
	width: 603px;
	height: 531px;
	left: 452.658px;
	top: 284.934px;
}
#_11_ft {
	fill: rgba(8,54,67,1);
}
._11_ft {
	position: absolute;
	overflow: visible;
	width: 642px;
	height: 566px;
	left: 213.658px;
	top: 456.934px;
}
#Computational_Insight_of__Norc_fu {
	left: 213.658px;
	top: 495.934px;
	position: absolute;
	overflow: visible;
	width: 643px;
	white-space: nowrap;
	text-align: left;
	font-family: SuperFrench;
	font-style: normal;
	font-weight: normal;
	font-size: 65px;
	color: rgba(255,222,167,1);
}
#CPU_CHINA_fv {
	left: 213.658px;
	top: 815.934px;
	position: absolute;
	overflow: visible;
	width: 187px;
	white-space: nowrap;
	text-align: left;
	font-family: Corbel;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(184,236,215,1);
}
#iDEC_2023_fw {
	left: 213.658px;
	top: 864.934px;
	position: absolute;
	overflow: visible;
	width: 147px;
	white-space: nowrap;
	text-align: left;
	font-family: Corbel;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(184,236,215,1);
}