.mediaViewInfo {
	--web-view-name: 91-Front page-Documentation展开-Notebook;
	--web-view-id: ID91-Front_page-Documentation-Notebook;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: ID91-Front_page-Documentation-Notebook;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#ID91-Front_page-Documentation-Notebook {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: 91-Front page-Documentation展开-Notebook;
	--web-view-id: ID91-Front_page-Documentation-Notebook;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
# {
	opacity: 0.65;
	position: absolute;
	width: 1940px;
	height: 1080px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#ID81 {
	position: absolute;
	width: 1920px;
	height: 1267.556px;
	left: 0px;
	top: -113.934px;
	overflow: visible;
}
#_12_bk {
	fill: url(#_12_bk);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._12_bk {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 113.934px;
}
#_1 {
	fill: transparent;
	stroke: rgba(8,54,67,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._1 {
	width: 1246px;
	height: 1246px;
	position: absolute;
	overflow: visible;
	transform: translate(0px, 113.934px) matrix(1,0,0,1,92.1198,-103.1565) rotate(-1deg);
	transform-origin: center;
}
#_2 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._2 {
	width: 1205px;
	height: 1206px;
	position: absolute;
	overflow: visible;
	transform: translate(0px, 113.934px) matrix(1,0,0,1,113.1225,-82.7988) rotate(-1deg);
	transform-origin: center;
}
#_13 {
	fill: rgba(184,236,215,1);
}
._13 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 195px;
	height: 50px;
	left: 1466px;
	top: 1087.934px;
}
#Documentation {
	position: absolute;
	width: 115px;
	height: 110px;
	left: 1497px;
	top: 1050.934px;
	overflow: visible;
}
#Protocols {
	left: 9px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: 81_Front_page_Documentation___Protocols.html;
	cursor: pointer;
	text-align: left;
	font-family: Bronova;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(8,54,67,1);
}
#Notebook {
	left: 7px;
	top: 45px;
	position: absolute;
	overflow: visible;
	width: 101px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: 92_DOCUMENTATION_Notebook.html;
	cursor: pointer;
	text-align: left;
	font-family: Bronova;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(8,54,67,1);
}
#References {
	left: 0px;
	top: 90px;
	position: absolute;
	overflow: visible;
	width: 116px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: 101_Front_page_Documentation___References.html;
	cursor: pointer;
	text-align: left;
	font-family: Bronova;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(8,54,67,1);
}
#_3 {
	fill: rgba(255,255,255,1);
}
._3 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 46px;
	height: 46px;
	left: 1121px;
	top: 1045.934px;
}
#DOCUMENTATION {
	left: 1239px;
	top: 1050.934px;
	position: absolute;
	overflow: visible;
	width: 207px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: 80_Front_page_Documentation.html;
	cursor: pointer;
	text-align: left;
	font-family: Bronova;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(8,54,67,1);
}
#PROJECT {
	left: 1394px;
	top: 472.934px;
	position: absolute;
	overflow: visible;
	width: 105px;
	white-space: nowrap;
	transition: all 0.3s ease-in-out;
	--web-animation: fadein 0.3s ease-in-out;
	--web-action-type: page;
	--web-action-target: 20_Front_page_Project.html;
	cursor: pointer;
	text-align: left;
	font-family: Bronova;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(184,236,215,1);
}
#TEAM {
	left: 1384px;
	top: 813.934px;
	position: absolute;
	overflow: visible;
	width: 65px;
	white-space: nowrap;
	transition: all 0.3s ease-in-out;
	--web-animation: fadein 0.3s ease-in-out;
	--web-action-type: page;
	--web-action-target: 50_Front_page_Team.html;
	cursor: pointer;
	text-align: left;
	font-family: Bronova;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(184,236,215,1);
}
#HOME {
	left: 1275px;
	top: 235.934px;
	position: absolute;
	overflow: visible;
	width: 70px;
	white-space: nowrap;
	transition: all 0.3s ease-in-out;
	--web-animation: fadein 0.3s ease-in-out;
	--web-action-type: page;
	--web-action-target: 11_Front_page.html;
	cursor: pointer;
	text-align: left;
	font-family: Bronova;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(184,236,215,1);
}
#_1_bx {
	fill: transparent;
	stroke: rgba(8,54,67,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._1_bx {
	overflow: visible;
	position: absolute;
	width: 54px;
	height: 2px;
	left: 1200.5px;
	top: 247.434px;
	transform: matrix(1,0,0,1,0,0);
}
#_3_by {
	fill: transparent;
	stroke: rgba(8,54,67,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._3_by {
	overflow: visible;
	position: absolute;
	width: 57px;
	height: 2px;
	left: 1306.5px;
	top: 825.434px;
	transform: matrix(1,0,0,1,0,0);
}
#_5 {
	fill: transparent;
	stroke: rgba(8,54,67,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._5 {
	overflow: visible;
	position: absolute;
	width: 57px;
	height: 2px;
	left: 1316.5px;
	top: 484.434px;
	transform: matrix(1,0,0,1,0,0);
}
#_6 {
	fill: transparent;
	stroke: rgba(8,54,67,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._6 {
	overflow: visible;
	position: absolute;
	width: 54px;
	height: 4px;
	left: 1164.5px;
	top: 1062.434px;
	transform: matrix(1,0,0,1,0,0);
}
#_10_b {
	fill: url(#_10_b);
}
._10_b {
	position: absolute;
	overflow: visible;
	width: 603px;
	height: 531px;
	left: 534px;
	top: 284.934px;
}
#_11 {
	fill: rgba(8,54,67,1);
}
._11 {
	position: absolute;
	overflow: visible;
	width: 642px;
	height: 566px;
	left: 295px;
	top: 456.934px;
}
#Computational_Insight_of__Norc {
	left: 295px;
	top: 495.934px;
	position: absolute;
	overflow: visible;
	width: 643px;
	white-space: nowrap;
	text-align: left;
	font-family: SuperFrench;
	font-style: normal;
	font-weight: normal;
	font-size: 65px;
	color: rgba(255,222,167,1);
}
#CPU_CHINA {
	left: 295px;
	top: 815.934px;
	position: absolute;
	overflow: visible;
	width: 187px;
	white-space: nowrap;
	text-align: left;
	font-family: Corbel;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(184,236,215,1);
}
#iDEC_2023 {
	left: 295px;
	top: 864.934px;
	position: absolute;
	overflow: visible;
	width: 147px;
	white-space: nowrap;
	text-align: left;
	font-family: Corbel;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(184,236,215,1);
}